---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632861097,"sunrise":1632833607,"sunset":1632876443,"temp":80.47,"feels_like":78.93,"pressure":999,"humidity":21,"dew_point":37,"uvi":3.94,"clouds":38,"visibility":10000,"wind_speed":1.01,"wind_deg":38,"wind_gust":5.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1632859200,"temp":80.49,"feels_like":78.89,"pressure":999,"humidity":20,"dew_point":35.78,"uvi":5.24,"clouds":40,"visibility":10000,"wind_speed":17.69,"wind_deg":135,"wind_gust":15.55,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.07},{"dt":1632862800,"temp":80.47,"feels_like":78.93,"pressure":999,"humidity":21,"dew_point":37,"uvi":3.94,"clouds":38,"visibility":10000,"wind_speed":18.07,"wind_deg":136,"wind_gust":15.12,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.07},{"dt":1632866400,"temp":80.31,"feels_like":78.78,"pressure":999,"humidity":20,"dew_point":35.64,"uvi":2.34,"clouds":37,"visibility":10000,"wind_speed":17.18,"wind_deg":138,"wind_gust":15.46,"weather":[{[...]
