---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 16:19:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=255373850"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-977764922"}]}]}'
  recorded_at: Mon, 27 Sep 2021 16:19:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632759552,"sunrise":1632747150,"sunset":1632790142,"temp":75.97,"feels_like":74.44,"pressure":1011,"humidity":25,"dew_point":37.65,"uvi":2.47,"clouds":50,"visibility":10000,"wind_speed":1.01,"wind_deg":155,"wind_gust":1.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1632758400,"temp":75.97,"feels_like":74.44,"pressure":1011,"humidity":25,"dew_point":37.65,"uvi":2.47,"clouds":50,"visibility":10000,"wind_speed":1.43,"wind_deg":183,"wind_gust":1.45,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632762000,"temp":76.66,"feels_like":75.06,"pressure":1011,"humidity":22,"dew_point":35.01,"uvi":4.16,"clouds":48,"visibility":10000,"wind_speed":0.67,"wind_deg":159,"wind_gust":1.54,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632765600,"temp":78.64,"feels_like":77.09,"pressure":1010,"humidity":19,"dew_point":32.97,"uvi":5.53,"clouds":43,"visibility":10000,"wind_speed":1.7,"wind_deg":117,"wind_gust":3.91,"weather":[{"id":8[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=denver&subject=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.301 TT 0 0.318"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 45,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL15007298W",
                    "text": [
                        "/works/OL15007298W",
                        "What we bought-- the new world",
                        "scenes from the Denver metropolitan area, 1970-1974",
                        "Scenes from the Denver metropolitan area, 1970-1974",
                        "What we bought--the new world",
                        "New world",
                        "OL583397M",
                        "OL24039435M",
               [...]
